
@model IEnumerable<eCommerce.ViewModels.AlamatViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomerHomeLayout";
    int i = 0;
}

<div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Alamatmu</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">
               <a asp-action="Create">Create New</a>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr class="text-nowrap">
                        <th>#</th>
                        <th>Kecamatan</th>
                        <th>kelurahan</th>
                        <th>Rt</th>
                        <th>Rw</th>
                        <th>Kode Pos</th>
                        <th>Detail</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Kecamatan</td>
                            <td>@item.Kelurahan</td>
                            <td>@item.Rt</td>
                            <td>@item.Rw</td>
                            <td>@item.KodePos</td>
                            <td>@item.Detail</td>
                            <td><a asp-action="Edit" asp-route-id="@item.IdAlamat" class="btn btn-sm btn-primary">Edit</a></td>
                        <td><a class="btn-delete" data-id="@item.IdAlamat">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            //Show modal for delete confirmation
            $(document).on("click", ".btn-delete", function () {
            
                var id = $(this).data('id');
                console.log('id alamat: ' + id);
                //ubah value yang id = itemId yang ada di dalam class .modal-body
                $(".modal-body #itemId").val(id);
                //tampilkan modal/dialog
                $("#confirmDelete").modal('show');
            });
        });
    </script>
}