@using eCommerce.Helpers;
@model List<eCommerce.ViewModels.KeranjangViewModel>
@{
  ViewData["Title"] = "Keranjang";
  Layout = "_CustomerLayout";
  int total = 0;
}
<br>
<br>
<br>
<br>
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="/Home/Index" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      Shoping Cart
    </span>
  </div>
</div>


<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-1">Product</th>
                <th class="column-2"></th>
                <th class="column-3">Quantity</th>
                <th class="column-4">Total</th>
                <th class="column-5"></th>
                <th class="column-6"></th>
              </tr>
              @foreach (var item in Model)
              {
                <tr class="table_row">
                  <td class="column-1">
                    <div class="how-itemcart1">
                      <img src="~/@item.Image" alt="IMG">
                    </div>
                  </td>
                  <td class="column-2">@item.NamaProduk</td>
                  <form asp-controller="Keranjang" asp-action="Edit" method="post">
                    <td class="column-3">
                      <div for=JumlahBarang class="wrap-num-product flex-w m-l-auto m-r-0">
                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                          <i class="fs-16 zmdi zmdi-minus"></i>
                        </div>

                        <input for="JumlahBarang" class="mtext-104 cl3 txt-center num-product" type="number"
                        name="JumlahBarang" value="@item.JumlahBarang" id="JumlahBarang">

                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                          <i class="fs-16 zmdi zmdi-plus"></i>
                        </div>
                      </div>
                    </td>
                    <td class="column-4">@item.Subtotal.ToIDR()</td>
                    <td></td>
                    <td class="column-6">
                      <input type="hidden" name="IdProduk" value="@item.IdProduk" />
                      <button type="submit"
                      class="flex-c-m stext-101 cl2 size-100 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                        update
                      </button>
                    </td>
                  </form>
                </tr>
              }
            </table>
          </div>
          <form asp-controller="Order" asp-action="Checkout">
            @foreach (var item in Model)
            {
              <input type="hidden" name="Id" value="@item.IdKeranjang" />
              <input type="hidden" name="Qty" value="@item.JumlahBarang" />
            }
            <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-100-sm">
              <div class="flex-w flex-m m-r-20 m-tb-5">
                <select class="js-select2 stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" name="Alamat" asp-items="@ViewBag.AlamatDataSource"></select>
                <div class="dropDownSelect2"></div>
              </div>


              <button type="submit"
                class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                Checkout
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>