@using System.Globalization
@model List<eCommerce.ViewModels.KeranjangViewModel>
@{
  ViewData["Title"] = "Home Page";
  Layout = "_CustomerHomeLayout";
  int i = 0;
}
<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Keranjangmu</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div id="filters" class="button-group">
          <p>
            Segera checkout Keranjangmu, sebelum kehabisan
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr class="text-nowrap">
        <th>#</th>
        <th>Id Produk</th>
        <th>Gambar</th>
        <th>Jumlah</th>
        <th>SubTotal</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        i++;
        <tr>
          <td>@i</td>
          <td>@item.IdProduk</td>
          <td> <img src="~/@item.Image" height="100" /></td>
          <td>
            <input type="hidden" name="Id" value="@item.IdKeranjang" />
            <input type="number" name="Qty" value="@item.JumlahBarang" />
          </td>
          <td>@item.Subtotal.ToString("C", new CultureInfo("id-ID"))</td>
        </tr>
      }
    </tbody>
  </table>

    <label>Pilih Alamat Pengiriman</label>
            <select name="Alamat" asp-items="@ViewBag.AlamatDataSource"></select>
                <br />       
  <form asp-controller="Order" asp-action="Checkout">
    <button type="submit">Submit</button>
  </form>
</div>
</div>
</section>