@using eCommerce.Helpers;
@model eCommerce.ViewModels.OrderViewModel
@{
  ViewData["Title"] = "Home Page";
  Layout = "_AdminLayout";
  int i = 0;
}

<link href="~/css/invoice.css" rel="stylesheet" />

<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="/Home/Index" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <a href="/Order/Index" class="stext-109 cl8 hov-cl1 trans-04">
      Order
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      #111-@Model.IdOrder
    </span>
  </div>
</div>


<div class="page-content container">
  <hr class="row brc-default-l1 mx-n1 mb-4" />
  <div class="card">
    <div class="col-lg-12 mb-4">
      <!-- Header -->
      <br>
      <div class="page-header text-blue-d2">
        <h1 class="page-title text-secondary-d1">
          Invoice
          <small class="page-info">
            <i class="fa fa-angle-double-right text-80"></i>
            ID: #111-@Model.IdOrder
          </small>
        </h1>
      </div>
      <!-- End Header -->

      <div class="container px-0">
        <div class="row mt-4">
          <div class="col-12 col-lg-12">
            <!-- .row -->
            <hr class="row brc-default-l1 mx-n1 mb-4" />

            <div class="row">
              <div class="col-sm-6">
                <div>
                  <span class="text-sm text-grey-m2 align-middle">To:</span>
                  <span class="text-600 text-110 text-blue align-middle">@Model.NamaCustomer</span>
                </div>
                <div class="text-grey-m2">
                  <div class="my-1">
                    <i class="fa fa-phone fa-flip-horizontal text-secondary"></i>
                    <b class="text-600">@Model.NoHp</b>
                  </div>
                </div>
              </div>
              <!-- /.col -->

              <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                <hr class="d-sm-none" />
                <div class="text-grey-m2">
                  <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                    Invoice
                  </div>

                  <div class="my-2">
                    <span class="text-600 text-90">ID:</span> #111-@Model.IdOrder
                  </div>

                  <div class="my-2">
                    <span class="text-600 text-90">Issue Date:</span> @Model.TglTransaksi.ToLongDateString()
                  </div>

                  <div class="my-2">
                    <span class="text-600 text-90">Status:</span>
                    <span class="badge badge-warning badge-pill px-25"> @Model.Status</span>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>

            <div class="row border-b-2 brc-default-l2"></div>

            <!-- table instead -->

            <div class="table-responsive">
              <table class="table table-striped table-borderless border-0 border-b-2 brc-default-l1">
                <thead class="bg-none bgc-default-tp1">
                  <tr class="text-white">
                    <th class="opacity-2">#</th>
                    <th>Id Produk</th>
                    <th>Nama Produk</th>
                    <th>Harga</th>
                    <th>Jumlah</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>

                <tbody class="text-95 text-secondary-d3">
                  @foreach (var item in Model.Details)
                  {
                    i++;
                    <tr></tr>
                    <tr>
                      <td>@i</td>
                      <td>@item.IdOrder</td>
                      <td>@item.NamaProduk</td>
                      <td class="text-95">@item.HargaBarang.ToIDR()</td>
                      <td>@item.Quantity</td>
                      <td class="text-secondary-d2">@item.Subtotal.ToIDR()</td>
                    </tr>
                  }

                </tbody>
              </table>
            </div>
            <hr class="row brc-default-l1 mx-n1 mb-4" />
            <!-- End Table -->

            <!-- Info dan Harga -->
            <div class="row">
              <div class="col-sm-6">
                <span class="text-sm text-grey-m2 align-middle">
                  <strong>Informasi Pembayaran:</strong>
                  <br />
                  Metode Pembayaran : Transfer
                  <br />
                  Bank: BNI
                  <br />
                  Bank Account: 5123412
                  <br />
                  Bank Account Name: Aldira
                </span>
              </div>
              <!-- /.col -->

              <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                <hr class="d-sm-none" />
                <div class="m2">
                  <div class="my-2">
                    <span class="text-600 text-90">Subtotal : </span>@Model.JumlahBayar.ToIDR()
                  </div>

                  <div class="my-2">
                    <span class="text-600 text-90">Ongkir :</span>Rp. 11.000,00
                  </div>

                  <div class="my-2">
                    <span class="text-600 text-90">Jumlah Bayar : </span>
                    Rp. @(Model.JumlahBayar + 11000)
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <hr class="row brc-default-l1 mx-n1 mb-4" />
            <!-- End Info Harga -->

            <!-- Jika Status = Masuk -->

            @if (Model.IdStatus != AppConstant.StatusOrder.MASUK)
            {
              <div class="page-header text-blue-d2">
                <h6 class="page-title text-secondary-d1">
                  <strong>
                    Bukti Pembayaran
                  </strong>
                </h6>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <center>
                    <img src="~/@Model.Pembayaran.BuktiPembayaran" height="350" />
                  </center>

                </div>
                <div class="col-lg-6 col-md-6">
                  <div>
                    <ul>
                    
                        <h6><strong>Tanggal Bayar: </strong></h6>
                        <p>@Model.Pembayaran.TanggalBayar.ToLongDateString()</p>
                      
                        <h6><strong>Metode: </strong></h6>
                        <p>@Model.Pembayaran.MetodePembayaran</p>
                     
                        <h6><strong>Total Bayar: </strong></h6>
                        <p>@Model.Pembayaran.JumlahBayar.ToIDR()</p>
                     
                        <h6><strong>Tujuan Bayar: </strong></h6>
                        <p>@Model.Pembayaran.Tujuan</p>
                     
                  </div>
                </div>
              </div>
              <hr class="row brc-default-l1 mx-n1 mb-4" />


              if (@Model.IdStatus == AppConstant.StatusOrder.DIBAYAR)
              {
                <form asp-controller="order" asp-action="konfirmasi">
                  <input type="hidden" name="IdOrder" value="@Model.IdOrder" />
                  <button type="submit" class="btn btn-primary">Konfirmasi</button>
                </form>
              }
              else if (@Model.IdStatus == AppConstant.StatusOrder.DIPROSES)
              {
                <form asp-controller="order" asp-action="kirim">
                  <input type="hidden" name="IdOrder" value="@Model.IdOrder" />
                  <input type="hidden" name="IdAlamat" value="@Model.IdAlamat" />
                  <div class="form-group mb-3">
                    <label for="Ongkir" class="control-label">Ongkir</label>
                    <input name="Ongkir" type="number" class="form-control" />
                  </div>

                  <div class="form-group mb-3">
                    <label for="Kurir" class="control-label">Kurir</label>
                    <input name="Kurir" type="text" class="form-control" />
                  </div>

                  <div class="form-group mb-3">
                    <label for="NoResi" class="control-label">No Resi</label>
                    <input name="NoResi" type="text" class="form-control" />
                  </div>

                  <div class="form-group mb-3">
                    <label for="Keterangan" class="control-label">Keterangan</label>
                    <input name="Keterangan" type="text" class="form-control" />
                  </div>

                  <button class="btn btn-primary" type="submit">Kirim</button>
                </form>
              }
              else if (@Model.IdStatus == AppConstant.StatusOrder.DIKIRIM)
              {
                <p>Sudah dikirim</p>
              }
              else if (@Model.IdStatus == AppConstant.StatusOrder.DITERIMA)
              {
                <div class="page-header text-blue-d2" >
                  <h6 class="page-title text-secondary-d1" >
                    <strong>
                      Ulasan
                    </strong>
                  </h6>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <center>
                      <img src="~/@Model.Ulasan.Gambar" height="350" />
                    </center>

                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div>
                      <ul>
                      
                          <h6><strong> Rating: </strong></h6> 
                          <p>@Model.Ulasan.Rating</p>
                       
                       
                          <h6><strong>Komentar: </strong></h6>
                          <p>@Model.Ulasan.Komentar</p>
                       
                    </div>
                  </div>
                </div>
                <hr class="row brc-default-l1 mx-n1 mb-4" />
              }
            }
            else
            {
              <p>Belum dibayar</p>
            }

          </div>
        </div>
      </div>

     