@using eCommerce.Helpers;
@using eCommerce.ViewModels;
@model IEnumerable<eCommerce.ViewModels.ProdukCustomerViewModel>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomerHomeLayout";
    int halamanSekarang = ViewBag.HalamanSekarang ?? 1;
}

<!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Featured Products</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">
              <button class="btn btn-primary" data-filter="*">All Products</button>
              <button class="btn btn-primary" data-filter=".new">Newest</button>
            </div>
          </div>
        </div>
      </div>
    </div>

 <div class="featured container no-gutter">
        <div class="row posts">
             @foreach (var item in Model){
                <div class="item new col-md-4">
                    <div class="featured-item">
                    <img src= "~/@item.Gambar" height="250"alt="">
                    <h4><center>@Html.ActionLink(@item.NamaProduk, "ProdukDetail", "Home", new {
                            id = @item.IdProduk
                        })</center></h4>
                    <p><center>@item.DeskripsiProduk</center></p>
                    <h6><center>@item.HargaProduk.ToIDR()<center></h6>
                    </div>
                </div>
             }
        </div>

           @{
                Html.RenderPartial("_Pagination", new PaginationViewModel
                {
                    Action = "Produk",
                    Controller = "Home",
                    CurrentPage = halamanSekarang,
                    TotalData = Model.Count()
                });
            }
</div>
    
