@using System.Globalization
@model eCommerce.ViewModels.ProdukCustomerViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomerHomeLayout";
}

<!-- Single Starts Here -->
<div class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Product</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <img src="~/@Model.Gambar" height="250" />
                </ul>
            </div>

            <div class="col-md-6">
                <div class="right-content">
                    <h4>@Model.NamaProduk</h4>
                    <h6>@Model.HargaProduk.ToString("C", new CultureInfo("id-ID"))</h6>
                    <p>@Model.DeskripsiProduk </p>
                    <span>Stok : @Model.Stok</span>
                    <form asp-action="Add" asp-controller="Keranjang" method="post">
                        <label for="JumlahBarang">Quantity:</label>
                        <input name="JumlahBarang" type="quantity" class="quantity-text" id="JumlahBarang"
                        onfocus="if(this.value == '1') { this.value = ''; }" 
                    onBlur="if(this.value == '') { this.value = '1';}"
                    value="1">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="produkId" value="@Model.IdProduk" />
                        <input type="submit" class="button" value="Add To Cart!">
                    </form>
                    <div class="down-content">
                        <div class="categories">
                            <h6>Category: <span><a href="#">Pants</a>,<a href="#">Women</a>,<a
                                        href="#">Lifestyle</a></span></h6>
                        </div>
                        <div class="share">
                            <h6>Share: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                            class="fa fa-linkedin"></i></a><a href="#"><i
                                            class="fa fa-twitter"></i></a></span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Single Page Ends Here -->